.lasted {
  width: 300px;
  height: auto;
  background-color: rgb(235, 217, 199);
  position: fixed;
  top: 30px;
  right: 30px;
}

.lasted h3 {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #eee;
}

.lasted img {
  width: 90%;
  margin: 10px auto;
  border-radius: 10%;
}

.lasted h5 {
  height: 40px;
  line-height: 40px;
}